<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Application Form Manager</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
    <script src="https://unpkg.com/pdf-lib@1.11.0"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script>
<style>
body {
	background-color: #f8f9fa;
	font-family: 'Arial', sans-serif;
}

.container {
	padding-top: 20px;
}

.main-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	text-align: center;
}

h1 {
	color: #007bff;
	margin-bottom: 20px;
}

.btn {
	margin: 10px;
}

.error {
	color: red;
	margin-top: 20px;
}

.btn-download {
	background-color: blue;
	border-color: blue;
	color: white;
}
</style>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header"></div>
		<div class="main-content">
			<h1>Your Pre-filled Application Form</h1>

			<form th:action="@{/uploadExcel}" method="post"
				enctype="multipart/form-data">
				<div class="form-group">
					<input type="file" name="file" required>
				</div>
				<button type="submit" class="btn btn-primary">Upload File</button>
			</form>

			<a href="\downloads\NETS Application Form_PIF_A_v11-1._Clean.pdf"
				class="btn btn-download"
				download="NETS Application Form_PIF_A_v11-1._Clean.pdf">Download
				Application Form </a>

	 <p>Click the button to fill form fields in an existing PDF document with <code>pdf-lib</code></p>
	     <button onclick="modifyPdf()">Fill PDF</button>
	 
	
 <script>
 const { degrees, PDFDocument, rgb, StandardFonts } = PDFLib
  
  
    async function modifyPdf(){
	   const formUrl = 'downloads/NETS Application Form_PIF_A_v11-1._Clean.pdf'
		      const formPdfBytes = await fetch(formUrl).then(res => res.arrayBuffer())
	 
    	// Fetch the PDF with form fields
   		const url = formUrl
  		const existingPdfBytes = await fetch(url).then(res => res.arrayBuffer())
      
      // Load a PDFDocument from the existing PDF bytes
      const pdfDoc = await PDFDocument.load(existingPdfBytes)

      // Embed the Helvetica font
      const helveticaFont = await pdfDoc.embedFont(StandardFonts.Helvetica)

      // Get the first page of the document
      const pages = pdfDoc.getPages()
      const firstPage = pages[0]

      // Get the width and height of the first page
      const { width, height } = firstPage.getSize()

      // Draw a string of text diagonally across the first page
      firstPage.drawText('Registration Name', {
        x: 127.27,
        y: height / 2 + 300,
        size: 10,
        font: helveticaFont,
        color: rgb(0.95, 0.1, 0.1),
        rotate: degrees(0),
      })
	
      
      firstPage.drawText('Business Registration Name', {
        x: 400,
        y: height / 2 + 300,
        size: 10,
        font: helveticaFont,
        color: rgb(0.95, 0.1, 0.1),
        rotate: degrees(0),
      })
      
         firstPage.drawText('Trading Name', {
        x: 50,
        y: height / 2 + 270,
        size: 20,
        font: helveticaFont,
        color: rgb(0.95, 0.1, 0.1),
        rotate: degrees(0),
      })
      
       firstPage.drawText('X', {
    	 x: 47,
    	 y: height / 2 + 209,
        size: 6,
        font: helveticaFont,
        color: rgb(0.95, 0.1, 0.1),
        rotate: degrees(0),
      })
      
      firstPage.drawText('X', {
    	 x: 295,
    	 y: height / 2 + 209,
        size: 6,
        font: helveticaFont,
        color: rgb(0.95, 0.1, 0.1),
        rotate: degrees(0),
      })
      
      
       firstPage.drawText('ctc_name', {
    	 x: 150,
    	 y: height / 2 + 30,
        size: 15,
        font: helveticaFont,
        color: rgb(0.95, 0.1, 0.1),
        rotate: degrees(0),
      })
      
      firstPage.drawText('Office', {
    	 x: 450,
    	 y: height / 2 + 30,
        size: 15,
        font: helveticaFont,
        color: rgb(0.95, 0.1, 0.1),
        rotate: degrees(0),
      })
      
      firstPage.drawText('Mailing address', {
    	 x: 120,
    	 y: height / 2 - 10,
        size: 15,
        font: helveticaFont,
        color: rgb(0.95, 0.1, 0.1),
        rotate: degrees(0),
      })
      
      firstPage.drawText('Email address', {
    	 x: 420,
    	 y: height / 2 + 10,
        size: 20,
        font: helveticaFont,
        color: rgb(0.95, 0.1, 0.1),
        rotate: degrees(0),
      })
      
      // Serialize the PDFDocument to bytes (a Uint8Array)
      const pdfBytes = await pdfDoc.save()

			// Trigger the browser to download the PDF document
      download(pdfBytes, "NETS Application Form_PIF_A_v11-1._Clean.pdf", "application/pdf");
    }
      
      
      
      
      
      
 /*  */
/* 			// Fetch the Mario image
       const marioUrl = ''
      const marioImageBytes = await fetch(marioUrl).then(res => res.arrayBuffer()) */
     
 
/* 			// Fetch the emblem image
    const emblemUrl = 'https://pdf-lib.js.org/assets/mario_emblem.png'
      const emblemImageBytes = await fetch(emblemUrl).then(res => res.arrayBuffer()) */

      // Load a PDF with form fields
    /*   const pdfDoc = await PDFDocument.load(formPdfBytes)

/*        // Embed the Mario and emblem images
      const marioImage = await pdfDoc.embedPng(marioImageBytes)
      const emblemImage = await pdfDoc.embedPng(emblemImageBytes) */

       // Get the form containing all the fields
   /*     const form = pdfDoc.getForm()  
      
      
          // Embed the Helvetica font
      const helveticaFont = await pdfDoc.embedFont(StandardFonts.Helvetica)

      // Get the first page of the document
      const pages = pdfDoc.getPages()
      const firstPage = pages[0]

      // Get the width and height of the first page
      const { width, height } = firstPage.getSize()

      // Draw a string of text diagonally across the first page
      firstPage.drawText('This text was added with JavaScript!', {
        x: 5,
        y: height / 2 + 300,
        size: 50,
        font: helveticaFont,
        color: rgb(0.95, 0.1, 0.1),
        rotate: degrees(-45),
      }) */
        

/*        const nameField = form.getTextField('Registered Name:')
      nameField.setText('Mario')   */
     
    /*   const superheroField = form.createTextField('favorite.superhero')
      superheroField.setText('One Punch Man')
      superheroField.addToPage(page, { x: 55, y: 640 }) */
      
        /*const ageField = form.getTextField('Age')
      const heightField = form.getTextField('Height')
      const weightField = form.getTextField('Weight')
      const eyesField = form.getTextField('Eyes')
      const skinField = form.getTextField('Skin')
      const hairField = form.getTextField('Hair')

      const alliesField = form.getTextField('Allies')
      const factionField = form.getTextField('FactionName')
      const backstoryField = form.getTextField('Backstory')
      const traitsField = form.getTextField('Feat+Traits')
      const treasureField = form.getTextField('Treasure')

      const characterImageField = form.getButton('CHARACTER IMAGE')
      const factionImageField = form.getButton('Faction Symbol Image')

      // Fill in the basic info fields
      
      ageField.setText('24 years')
      heightField.setText(`5' 1"`)
      weightField.setText('196 lbs')
      eyesField.setText('blue')
      skinField.setText('white')
      hairField.setText('brown')

      // Fill the character image field with our Mario image
      characterImageField.setImage(marioImage)

      // Fill in the allies field
      alliesField.setText(
        [
          `Allies:`,
          `  • Princess Daisy`,
          `  • Princess Peach`,
          `  • Rosalina`,
          `  • Geno`,
          `  • Luigi`,
          `  • Donkey Kong`,
          `  • Yoshi`,
          `  • Diddy Kong`,
          ``,
          `Organizations:`,
          `  • Italian Plumbers Association`,
        ].join('\n'),
      )

      // Fill in the faction name field
      factionField.setText(`Mario's Emblem`)

      // Fill the faction image field with our emblem image
      factionImageField.setImage(emblemImage)

      // Fill in the backstory field
      backstoryField.setText(
        `Mario is a fictional character in the Mario video game franchise, owned by Nintendo and created by Japanese video game designer Shigeru Miyamoto. Serving as the company's mascot and the eponymous protagonist of the series, Mario has appeared in over 200 video games since his creation. Depicted as a short, pudgy, Italian plumber who resides in the Mushroom Kingdom, his adventures generally center upon rescuing Princess Peach from the Koopa villain Bowser. His younger brother and sidekick is Luigi.`,
      )

      // Fill in the traits field
      traitsField.setText(
        [
          `Mario can use three basic three power-ups:`,
          `  • the Super Mushroom, which causes Mario to grow larger`,
          `  • the Fire Flower, which allows Mario to throw fireballs`,
          `  • the Starman, which gives Mario temporary invincibility`,
        ].join('\n'),
      )

      // Fill in the treasure field
      treasureField.setText(['• Gold coins', '• Treasure chests'].join('\n'))
*/
       // Serialize the PDFDocument to bytes (a Uint8Array)
       /* const pdfBytes = await pdfDoc.save() 

			// Trigger the browser to download the PDF document
      download(pdfBytes, "NETS Application Form_PIF_A_v11-1._Clean.pdf", "application/pdf");
    	
    	const fields = form.getFields()
      fields.forEach(field => {
    	  const type = field.constructor.name
    	  const name = field.getName()
    	  console.log(`${type}: ${name}`)
    	  console.log('Hello world')
    	})
    	
    }   */


  </script>

			<p th:text="${message}" class="text-success"></p>
			<p th:text="${error}" class="text-danger"></p>




			<table class="table bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>ctc_name</th>
						<th>cust_name_tx</th>
						<th>mobile_no</th>
						<th>trading_name</th>
						<th>email_tx</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="client : ${listClients}">
						<tr>
							<td th:text="${client.id}"></td>
							<td th:text="${client.ctc_name}"></td>
							<td th:text="${client.cust_name_tx}"></td>
							<td th:text="${client.mobile_no}"></td>
							<td th:text="${client.trading_name}"></td>
							<td th:text="${client.email_tx}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>


		</div>





		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>
