<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Nets - Add new Member</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
<style>
    body {
        background-color: #f8f9fa;
        color: #343a40;
        font-family: 'Arial', sans-serif;
    }

    .container {
        padding-top: 20px; 
    }

    main {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .h1 {
        font-size: 24px;
        color: #007bff;
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .form-label {
        color: #007bff;
    }
</style>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header"></div>
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
        <main>
            <h1>Register as a Admin</h1>
            <form class="needs-validation" th:action="@{/admin/registered}"
                method="post" th:object="${member}" novalidate>
                
                <div class="mb-3 col-5">
                    <label for="member_nric" class="form-label">NRIC: </label>
                    <input id="member_nric" type="text" class="form-control"
                        th:field="*{nric}" required pattern="^[STFGM][0-9]{7}[A-Z]$" />
                    <div class="invalid-feedback">Please enter a valid NRIC (e.g., S1234567A).</div>
                    <p class="text-danger" th:if="${#fields.hasErrors('nric')}"
                        th:errors="*{nric}"></p>
                </div>
                
                <div class="mb-3 col-5">
                    <label for="member_name" class="form-label">Name: </label> 
                    <input id="member_name" type="text" class="form-control"
                        th:field="*{name}" required minlength="3"/>
                    <div class="invalid-feedback">Please enter a valid Name.</div>
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                        th:errors="*{name}"></p>
                </div>

                <div class="mb-3 col-5">
                    <label for="member_username" class="form-label">Username: </label>
                    <input id="member_username" type="text" class="form-control"
                        th:field="*{username}" required minlength="3" />
                    <div class="invalid-feedback">Please enter a valid Username.</div>
                    <p class="text-danger" th:if="${#fields.hasErrors('username')}"
                        th:errors="*{username}"></p>
                </div>

                <div class="mb-3 col-5">
                    <label for="member_password" class="form-label">Password: </label>
                    <input id="member_password" type="password" class="form-control"
                        th:field="*{password}" required minlength="8" />
                    <div class="invalid-feedback">Please enter a valid password.</div>
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}"
                        th:errors="*{password}"></p>
                </div>

                <div class="mb-3 col-5">
                    <label for="member_email" class="form-label">Email: </label> 
                    <input id="member_email" type="email" class="form-control"
                        th:field="*{email}" required />
                    <div class="invalid-feedback">Please enter a valid email.</div>
                    <p class="text-danger" th:if="${#fields.hasErrors('email')}"
                        th:errors="*{email}"></p>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            <!-- Form Validation -->
            <script>
                'use strict'

                var form = document.querySelector('.needs-validation')

                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                })
            </script>
            <!-- End Form Validation -->

        </main>
    </div>

    <div th:replace="fragments/footer"></div>
</body>
</html>
