<style>
    .footer {
        background-color: #000;
        color: #fff;
        padding: 20px 0;
    }

    .social-icons img {
        width: 25px; /* Adjust as needed */
        margin-right: 10px; /* Adjust as needed */
        
    }
</style>

<footer class="mt-5 mb-5 bg-dark text-white">
    <div class="container">
        <div class="text-center">
            <span class="text-muted">&hearts; 2024 RP, Nets</span>
            <div class="social-icons float-end">
                <a href="https://www.facebook.com/" target="_blank" class="text-white mr-3">
                    <img src="/images/facebook.jpg" alt="Facebook">
                </a>
                <a href="https://www.youtube.com/" target="_blank" class="text-white">
                    <img src="/images/youtube.jpg" alt="YouTube">
                </a>
            </div>
        </div>
    </div>
</footer>
